# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
.svelte-kit/
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# MD Files
AUDIT_SUMMARY.md
TRUNCATE_PREVIEW_OTHER_APPS.md
UNUSED_CSS_REPORT.md