.breadcrumb_link {
  display: flex;
  align-items: center;
}

.breadcrumb_link_btn {
  display: flex;
  align-items: center;
}

.breadcrumb_link_btn:hover {
  text-decoration: underline;
  cursor: pointer;
}


.breadcrumb_group {
  display: flex;
  align-items: center;
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumb_icon {
  margin-right: 4px;
  text-decoration: none;
}

