.notebooks_list {
  list-style: none;
  color: white;
  margin-block-start: 0em;
  padding-inline-start: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

:global(.notebooks_list li) {
  display: flex;
  margin-bottom: 2px;
}

:global(.notebooks_list li div:hover) {
  background-color: #f7f7f7;
}

:global(.notebooks_list li:first-child) {
  padding-top: 10px;
}

:global(ul.notebooks_list .notebooks_list_bg) {
  padding-top: 10px;
}

:global(.notebooks_list_left) {
  width: 20px;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
}

:global(.notebooks_list_right) {
  display: flex;
  width: 100%;
  padding-left: 10px;
  align-self: center;
  font-size: var(--size-4a);
  color: var(--color-grey-600);
  flex-direction: column;
  justify-content: center;
}

:global(.notebooks_list_outer) {
  width: 100%;
  height: 50px;
  display: flex;
}


// .cardcontent {
//   padding: 16px 0 !important;
// }

:global(.notebooks_list li:first-child) {
  padding-top: 10px;
}

:global(.notebooks_list_bg) {
  position: relative;
  padding-top: 10px;
}

:global(.notebook_default) {
  color: var(--notebook-color-default);
  background: var(--notebook-color-bg-default);
}

:global(.tab_default) {
  background: var(--notebook-color-tab-default);
}

:global(.tab_red) {
  background: var(--notebook-color-tab-red);
}
:global(.tab_blue) {
  background: var(--notebook-color-tab-blue);
}
:global(.tab_green) {
  background: var(--notebook-color-tab-green);
}

:global(.tab_loading) {
  background: var(--notebook-color-tab-loading);
}

:global(li.notebooks_list_bg .v-card) {
  width: 100%;
}
